@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<style>
    body {
        background: linear-gradient(109.7deg, rgb(229, 0, 57) 1.8%, rgb(162, 91, 182) 90.2%);
    }
</style>